@import './base.css';
@import './reset.css';
@import 'tailwindcss';
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@font-face {
  font-family: 'arcade';
  src: url(/DSEG7Modern-Light.ttf);
}

@font-face {
  font-family: 'unispace';
  src: url(/Unispace-Rg.otf);
}

h1 {
  font-family:;
}

input {
  background: white;
  color: black;
  padding: 0.5em;
}

label {
  padding: 0.5em;
}
